
  @import url('https://fonts.googleapis.com/css?family=Spartan:400,700,900&display=swap');

body {
  margin: 0;
  font-family: 'Spartan', sans-serif;
  overflow-x: hidden;
}
.bg-wrapper{
    position: absolute;
    overflow: hidden;
    height: 150vh;
    width: 100vw;
    z-index: -1;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@keyframes bgAnimation {
  from {left: 0px; top: 0px}
  to {left: -150px; top: -50px}
}
